.App {
  height: 100vh;
  width: 100vw;
}

.Box {
  border: 1px solid #dddddd;
  border-radius: 5px;
  max-width: 350px;
  width: 50vw;
  margin: 5vh auto;
  height: 80vh;
  padding: 5vh 0px;
}

/* Home.js */

.Title {
  text-align: center;
}

.DayGroup {
  display: flex; 
  padding: 1vh 5vh; 
}

.Days {
  position: relative;
  top: 3px;
  margin: 5px; 
}

.Circle {
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  background-color: grey;
  border-radius: 50%;
  margin: 5px;
}

.Triangle {
  margin: 3px;
  width: 5px;
  height: 0;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  border-left: 20px solid purple;
}

/* Review.js */

.DayName {
  text-align: center;
}

#raitingday {
  padding: 3px;
  border: 2px solid orange;
  border-radius: 7px;
  background-color: orange;
  color: white;
}

.Btn {
  padding: 15px 30%; 
  margin: 0 3vh; 
  background-color: purple;
  color: white;
  border-radius: 5px;
  border: 1px solid purple;
}

.clickedstar {
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  background-color: yellow;
  border-radius: 50%;
  margin: 5px;
}
